html, body {
  background-image: url("../img/technomart-index.jpg");
  background-repeat: no-repeat;
  background-size: 1327px auto;
  padding: 0;
  margin: 0;
}

.container-center {
  margin: 0 auto;
}

header {
  width: 100%;
  min-height: 320px;
  background: rgba(26, 204, 177, 0.5);
}

.header-top {
  width: 100%;
  min-height: 42px;
  background-color: rgba(204, 26, 73, 0.5);
  outline: 1px solid #ffffff;
  display: flex;
}
.header-bottom {
  width: 100%;
  padding: 40px 0;
  min-height: 153px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
}

nav .main-menu {

}
