html, body {
  /* Блочная модель */
  margin: 0;
  /* Типографика */
  font-size: 14px;
  line-height: 24px;
  font-family: "PTSansRegular", Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #000000;
  /* Оформление */
  background-color: #ffffff;
}

h1, h2, h3, h4, h5 {
  /* Типографика */
  font-family: "CuprumRegular";
}

a {
  /* Типографика */
  font-size: 17px;
  line-height: 17px;
  font-family: "CuprumRegular";
  color: #ffffff;
  text-decoration: none;
}

/* Кнопка, которая повторяется часто */

button.learn-more-button, a.learn-more-button {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fc2040;
  border: none;
  transition: 0.3s;
}

button.learn-more-button:hover, a.learn-more-button:hover {
  background-color: #cb2834;
}

/* Скрываем элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

header {
  /* Оформление */
  background-color: #f2f7fa;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .header-logo {
  display: block;
  width: 220px;
  height: 47px;
  background-color: #ef3341;
  background-image: url("../img/logo-text.png");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #b72530;
  transition: 0.3s;
}

header .header-logo:hover {
  background-color: #cb2834;
  border-bottom: 3px solid #9b1c26;
}

header .header-logo:active {
  background-color: #bc222f;
  border-bottom: 3px solid #8f1821;
}

header .header-top {
  /* Оформление */
  background-color: #253448;
}

/* Header icons -- start */

.icon-login, .icon-logout, .icon-user {
  fill: #c5c5c5;
  transition: fill 0.3s ease;
}

.profile-login:hover .icon-login, .profile-logout:hover .icon-logout, .profile-name:hover .icon-user {
  fill: #2f435b;
}

.header-profile-controls a.profile-name, .header-profile-controls a.profile-login, .header-profile-controls a.profile-register {
  /* Типографика */
  font-size: 21px;
  color: #000000;
}

a.profile-link:hover, .header-profile-controls a:hover {
  color: #ee3643;
}

.header-profile-controls a.profile-orders, .header-profile-controls a.profile-cabinet {
  font-size: 16px;
  color: #32425c;
  font-weight: 400;
  line-height: 18px;
  /* Approximation due to font substitution */
  text-decoration: underline;
}

.profile-link {
  background: #ffffff;
}

.header-form-search::before, .header-form-search:before, .header-link::before, .header-link:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.header-phone-link::before, .header-phone-link:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-form-search::before, .header-form-search:before {
  width: 17px;
  height: 17px;
  background: url("../img/icon-search.svg");
  margin-left: -20px;
}

.header-form-search {
  padding-left: 20px;
}

.link-bookmark::before, .link-bookmark:before {
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmark.svg");
  margin-left: -20px;
}

.link-bookmark {
  padding-left: 20px;
}

.link-cart::before, .link-cart:before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  margin-left: -20px;
}

.link-cart {
  padding-left: 20px;
  transition: 0.3s;
}

.cart-full {
  background-color: #ef3341;
}

/* Запуталась как вернуть прозрачность на ховере */

.header-phone-link::before, .header-phone-link:before {
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  margin-left: -20px;
}

/* Header icons -- end */

header .link-order {
  background-color: #63a63e;
  transition: 0.3s;
}

header .link-order:hover {
  background-color: #5fbb2d;
}

header .link-order:active {
  opacity: 0.8;
}

header .header-phone-link {
  /* Типографика */
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  padding-left: 20px;
}

header p.header-description {
  /* Типографика */
  font-size: 16px;
  line-height: 23px;
  font-family: "CuprumItalic", Arial, sans-serif;
  color: #ee3643;
}

nav .main-menu {
  /* Оформление */
  background-color: #2f405b;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.8);
}

/* Main */

/* Breadcrumbs */

ul.breadcrumbs {
  list-style: none;
}

ul.breadcrumbs li a.breadcrumbs-link {
  color: #000000;
  font-size: 13px;
  text-transform: uppercase;
}

ul.breadcrumbs li a.breadcrumbs-link::before, ul.breadcrumbs li a.breadcrumbs-link:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  margin-left: -10px;
}

ul.breadcrumbs li a.breadcrumbs-home-icon::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/icon-home.svg");
  width: 14px;
  height: 12px;
}

/* Section features */

.features h2 {
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.features-item a {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  /* Оформление */
  background-color: rgba(0, 0, 0, 0.1);
}

.features-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-materials {
  /* Оформление */
  background-color: #fcba41;
}

.features-tool {
  /* Оформление */
  background-color: #00bce1;
}

.features-sales {
  /* Оформление */
  background-color: #74d58c;
}

.features-tech {
  /* Оформление */
  background-color: #cf7ec0;
}

.features-delivery {
  /* Оформление */
  background-color: #fcba41;
}

/* Features icons -- start */

.features-materials::after, .features-materials:after, .features-sales::after, .features-sales:after, .features-tools::after, .features-tools:after, .features-tech::after, .features-tech:after, .features-delivery::after, .features-delivery:after {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-materials::after, .features-materials:after {
  width: 44px;
  height: 65px;
  background: url("../img/icon-1.svg");
  margin-left: 100px;
}

.features-tools::after, .features-tools:after {
  width: 75px;
  height: 61px;
  background: url("../img/icon-2.svg");
  margin-left: 100px;
}

.features-sales::after, .features-sales:after {
  width: 59px;
  height: 72px;
  background: url("../img/icon-4.svg");
  margin-left: 100px;
}

.features-tech::after, .features-tech:after {
  width: 78px;
  height: 62px;
  background: url("../img/icon-3.svg");
  margin-left: 100px;
}

.features-delivery::after, .features-delivery:after {
  width: 78px;
  height: 63px;
  background: url("../img/icon-5.svg");
  margin-left: 100px;
}

/* Features icons -- end */

/* Slider */

/* Slider Buttons -- start */

.slider-buttons {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  width: 22px;
  height: 40px;
}

button.slider-buttons.prev {
  background-image: url("../img/icon-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
}

button.slider-buttons.next {
  background-image: url("../img/icon-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 600px;
}

/* Slider Buttons -- end */

.slider ul {
  list-style: none;
}

.slider .slider-item h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider .slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider .slider-item {
  width: 620px;
  height: 266px;
  background-color: #95806b;
  background-size: cover;
}

.slider .slider-item-1 {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
}

.slider .slider-item-2 {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
}

/* Популярные товары и популярные производители */

.popular-products ul, .popular-company ul {
  list-style: none;
}

.popular-products h2, .popular-company h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.popular-products .product a {
  color: #000000;
}

.popular-products div, .popular-company div {
  background-color: #f7f2ec;
}

/* Catalog - catalog.html */

.catalog h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-h-wrapper {
  background-color: #f2f6f8;
}

/* Filter and Sort - catalog.html */

.product-filter h2, .product-sort h2 {
  font-family: "PTSansRegular", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-filter legend {
  font-size: 17px;
  font-family: "PTSansBold", "Arial", sans-serif;
  text-transform: uppercase;
}

.product-filter fieldset {
  border: none;
}

.product-filter ul {
  list-style: none;
}

button.product-filter-button {
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  text-transform: uppercase;
  font-family: "PTSansRegular", "Arial", sans-serif;
  font-size: 13px;
}

.product-sort, .filter-h-wrapper {
  background-color: #f7f3ed;
}

.product-sort ul {
  list-style: none;
}

.product-sort-type a.sort-type {
  font-family: "PTSansRegular", "Arial", sans-serif;
  color: #adaba6;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.product-sort-type a.sort-type:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.product-sort-type a.sort-type:active {
  color: #ee3643;
  border-bottom: none;
}

.icon-up, .icon-down {
  fill: #adaba6;
  transition: fill 0.3s ease;
}

.icon-up:active, .icon-down:active {
  fill: #ee3643;
}

.icon-up:hover, .icon-down:hover {
  fill: #000000;
}

.products-list ul {
  list-style: none;
}

/* Оформление range */

.range {
  width: 220px;
  margin: 20px;
}

.range-title {
  margin-bottom: 14px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.range-content {
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 0 0 4px 4px;
}

.range-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
}

.range-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #00c87c;
}

.range-button {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  border: 0;
  cursor: pointer;
}

.range-button-left {
  left: 0;
}

.range-button-right {
  right: 20px;
}

.range-price {
  font-size: 0;
}

.range-input {
  width: 95px;
  padding: 9px 0 11px 7px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 4px;
}

.range-text {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 1px;
  margin: 0 9
}

/* Оформление чекбоксов и радио-кнопок */

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"]+label::before, input[type="checkbox"]+label:before, input[type="checkbox"]:checked+label::before, input[type="checkbox"]:checked+label:before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin-left: -25px;
  opacity: 0.9;
}

input[type="checkbox"]+label::before, input[type="checkbox"]+label:before {
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked+label::before, input[type="checkbox"]:checked+label:before {
  background-image: url("../img/checkbox-on.svg");
}

input[type="radio"]+label::before, input[type="radio"]+label:before, input[type="radio"]:checked+label::before, input[type="radio"]:checked+label:before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: -30px;
  opacity: 0.8;
}

input[type="radio"]+label::before, input[type="radio"]+label:before {
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked+label::before, input[type="radio"]:checked+label:before {
  background-image: url("../img/radio-on.svg");
}

/* Все еще не научилась возвращать прозрачность :(
input[type="checkbox"] + label::before:hover,
input[type="checkbox"] + label:before,
input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label:before,
input[type="radio"] + label::before,
input[type="radio"] + label:before,
input[type="radio"]:checked + label::before,
input[type="radio"]:checked + label:before {
  opacity: 1.0;
}*/

.product-filter label {
  font-size: 15px;
  text-transform: uppercase;
}

/* Блоки product */

.product-list-buttons button {
  text-transform: uppercase;
}

.product h3 a {
  font-family: "PTSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

/* Product Buttons */

.product span {
  display: block;
  width: 141px;
  height: 38px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

span.new-price {
  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-size: cover;
}

span.old-price {
  color: #aaaaaa;
  text-decoration: line-through;
}

/* Buy and Bookmarks Buttons */

.product-buy-button {
  font-family: "CuprumRegular", "Arial", sans-serif;
  background-color: #63a73c;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #33730e;
  transition: 0.3s;
}

.product-buy-button:hover {
  background-color: #5ebd29;
}

.product-buy-button:active {
  background-color: #508631;
}

.product-bookmarks-button {
  font-family: "CuprumRegular", "Arial", sans-serif;
  color: #32425c;
  border: 2px solid #63a73c;
  background: none;
  transition: 0.3s;
}

.product-bookmarks-button:hover {
  border: 2px solid #2f405b;
}

.product-bookmarks-button:active {
  opacity: 0.5;
}

/* Product Description - Catalog.html */

.product-description {
  background-color: #f2f6f8;
  font-size: 13px;
}

.product-description h2 {
  font-family: "CuprumRegular", "Arial", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

/* Pagination - catalog.html */

ul.pagination {
  list-style: none;
}

ul.pagination a {
  color: #000000;
  font-size: 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
}

ul.pagination a:hover {
  border: 1px solid #bec7cb;
}

ul.pagination a:active {
  border: 1px solid #ef3341;
}

ul.pagination .actual-page a {
  color: #ffffff;
  background-color: #ef3341;
  border: none;
}

/* Services */

.services {
  background-color: #f1f5f7;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
}

.services-delivery-tabs-menu {}

.services-delivery-tabs-menu:after {
  content: " ";
  position: absolute;
  top: 0;
  background-image: url("../img/tabs-line.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 272px;
}

label.services-delivery-tabs-item {
  display: block;
  width: 260px;
  height: 61px;
  background-color: #2c415c;
  font-family: "CuprumBold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  transition: 0.3s;
}

label.services-delivery-tabs-item:hover {
  background-color: #253147;
}

label.active-item {
  background-color: #ffffff;
  color: #32425c;
}

label.active-item:hover {
  background-color: #ffffff;
  color: #32425c;
}

.services .services-delivery-tabs h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
}

.services ul {
  list-style: none;
}

.services-guarantee-content p::after, .services-guarantee-content p:after, .services-delivery-content p::after, .services-delivery-content p:after, .services-credit-content p::after, .services-credit-content p:after {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-delivery-content p::after, .services-delivery-content p:after {
  background-image: url("../img/delivery-bg.png");
  width: 468px;
  height: 261px;
}

.services-credit-content p::after, .services-credit-content p:after {
  background-image: url("../img/credit-bg.png");
  width: 465px;
  height: 285px;
}

.services-guarantee-content p::after, .services-guarantee-content p:after {
  background-image: url("../img/guarantee-bg.png");
  width: 465px;
  height: 285px;
}

a.credit-button {
  background-color: #ee3643;
  font-size: 14px;
  text-transform: uppercase;
}

/* About Company Block */

.about-company h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.about-description ul {
  /* тут я запуталась с типографикой ( */
  list-style: none;
  font-family: "CuprumBold", "Arial", sans-serif;
  font-size: 18px;
}

/* Footer */

footer {
  background-color: #2c415c;
  font-family: "CuprumRegular", "Arial", sans-serif;
  color: #ffffff;
}

footer ul {
  list-style: none;
}

footer .footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  background-color: #ef3341;
  background-image: url("../img/logo-text.png");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #b72530;
  transition: 0.3s;
}

footer .footer-logo:hover {
  background-color: #cb2834;
  border-bottom: 3px solid #9b1c26;
}

footer .footer-logo:active {
  background-color: #bc222f;
  border-bottom: 3px solid #8f1821;
}

.footer-middle, .footer-top, .footer-middle a, .footer-top a {
  font-size: 18px;
}

.footer-middle a:hover, .footer-top a:hover, .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-middle a:active, .footer-top a:active {
  opacity: 0.8;
}

.footer-bottom a:active {
  color: #ee3643;
}

.footer-middle ul a, .footer-feedback-and-design a {
  color: #ffd180;
}

.footer-social-icons li {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-icons li:hover {
  background-color: #ef3341;
}

a.vk-icon::before, a.vk-icon:before, a.fb-icon::before, a.fb-icon:before, a.instagram-icon::before, a.instagram-icon:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

li.vk-icon {
  background-image: url("../img/icon-vk.svg");
  background-size: 26px 15px;
}

li.fb-icon {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
}

li.instagram-icon {
  background-image: url("../img/icon-insta.svg");
  background-size: 21px 21px;
}

footer .footer-bottom {
  background-color: #253448;
  font-size: 16px;
}

/*  Popups */

button.close-popup-button {
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  background-image: url("../img/form-2.svg");
  border: none;
}

.product-list-cart-popup {
  font-family: "CuprumRegular", "Arial", sans-serif;
  font-size: 30px;
}

.popup-buttons {
  background-color: #f1f1f1;
}

.product-list-cart-popup p::before, .product-list-cart-popup p:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/form-1.svg");
  width: 66px;
  height: 66px;
}

a.continue-popup-button {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

/* Write Us */

.write-us-form label {
  font-size: 17px;
  font-family: "CuprumRegular"
}

.write-us-form input, .write-us-form textarea {
  font-size: 13px;
  color: #999999;
}

/* Правила */

/* Шрифт Cuprum */

@font-face {
  font-family: "CuprumRegular";
  src: url("../fonts/CuprumRegular.eot");
  src: url("../fonts/CuprumRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumRegular.woff") format("woff"), url("../fonts/CuprumRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumBold";
  src: url("../fonts/CuprumBold.eot");
  src: url("../fonts/CuprumBold.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumBold.woff") format("woff"), url("../fonts/CuprumBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumItalic";
  src: url("../fonts/CuprumItalic.eot");
  src: url("../fonts/CuprumItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumItalic.woff") format("woff"), url("../fonts/CuprumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumBoldItalic";
  src: url("../fonts/CuprumBoldItalic.eot");
  src: url("../fonts/CuprumBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumBoldItalic.woff") format("woff"), url("../fonts/CuprumBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Шрифт PT SANS */

@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold.eot");
  src: url("../fonts/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
