/* Правила */

/* Шрифт Cuprum */

@font-face {
  font-family: "CuprumRegular";
  src: url("../fonts/CuprumRegular.eot");
  src: url("../fonts/CuprumRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumRegular.woff") format("woff"), url("../fonts/CuprumRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumBold";
  src: url("../fonts/CuprumBold.eot");
  src: url("../fonts/CuprumBold.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumBold.woff") format("woff"), url("../fonts/CuprumBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumItalic";
  src: url("../fonts/CuprumItalic.eot");
  src: url("../fonts/CuprumItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumItalic.woff") format("woff"), url("../fonts/CuprumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumBoldItalic";
  src: url("../fonts/CuprumBoldItalic.eot");
  src: url("../fonts/CuprumBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumBoldItalic.woff") format("woff"), url("../fonts/CuprumBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Шрифт PT SANS */

@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold.eot");
  src: url("../fonts/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Стили */

html, body {
  /* Блочная модель */
  margin: 0;
  /* Типографика */
  font-size: 14px;
  line-height: 24px;
  font-family: "PTSansRegular", Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #000000;
  /* Оформление */
  background-color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  /* Типографика */
  font-family: "CuprumRegular";
}

a {
  /* Типографика */
  font-size: 17px;
  line-height: 17px;
  font-family: "CuprumRegular";
  color: #ffffff;
  text-decoration: none;
}

/* Центровщик контента */

.container-center {
  display: block;
  margin: 0 auto;
}

/* Кнопка, которая повторяется часто */

button.learn-more-button, a.learn-more-button {
  display: inline-block;
  padding-left: 49px;
  padding-right: 45px;
  padding-top: 12px;
  height: 38px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  transition: 0.3s;
  border-radius: 5px;
}

button.learn-more-button:hover, a.learn-more-button:hover {
  background-color: #cb2834;
}

button.learn-more-button:active, a.learn-more-button:active {
  background-color: #ba2732;
}

/* Скрываем элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

header {
  min-height: 320px;
  /* Оформление */
  background-color: #f2f7fa;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .header-logo {
  display: block;
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  background-image: url("../img/logo-text.png");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid #b72530;
  transition: 0.3s;
}

header .header-logo:hover {
  background-color: #cb2834;
  border-bottom: 5px solid #9b1c26;
}

header .header-logo:active {
  background-color: #bc222f;
  border-bottom: 5px solid #8f1821;
}

header .header-top {
  width: 100%;
  max-height: 42px;
  /* Оформление */
  background-color: #253448;
}

.header-top-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 940px;
}

header .header-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 940px;
  min-height: 159px;
  padding-top: 8px;
}

nav .main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 940px;
  /* Оформление */
  background-color: #2f405b;
  border-bottom: 5px solid #243147;
}

nav .main-menu li {
  padding-top: 15px;
  padding-bottom: 16px;
}

/* Header icons -- start */

.icon-login, .icon-logout, .icon-user {
  fill: #c5c5c5;
  transition: fill 0.3s ease;
}

.profile-login:hover .icon-login, .profile-logout:hover .icon-logout, .profile-name:hover .icon-user {
  fill: #2f435b;
}

.header-profile-controls a.profile-name, .header-profile-controls a.profile-login, .header-profile-controls a.profile-register {
  /* Типографика */
  font-size: 21px;
  color: #000000;
}

a.profile-link:hover, .header-profile-controls a:hover {
  color: #ee3643;
}

a.profile-name:hover {
  color: #000000;
}

.header-profile-controls a.profile-orders, .header-profile-controls a.profile-cabinet {
  font-size: 16px;
  color: #32425c;
  font-weight: 400;
  line-height: 18px;
  /* Approximation due to font substitution */
  text-decoration: underline;
}

.profile-link {
  background: #ffffff;
}

.link-bookmark::before, .link-cart::before, .link-cart::before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-phone-link::before, .header-phone-link:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-search {
  position: absolute;
  fill: #ffffff;
  opacity: 0.3;
  top: 12px;
  left: 17px;
  background: url("../img/icon-search.svg");
  transition: 0.3s;
}

.header-form-search {
  position: relative;
  margin-right: 25px;
}

.header-form-search-input {
  width: 270px;
  height: 42px;
  padding-left: 47px;
  padding-top: 12px;
  padding-bottom: 13px;
  background-color: #243147;
  border: none;
  font-family: "CuprumRegular", "Arial", sans-serif;
  font-size: 17px;
  color: #ffffff;
  transition: 0.3s;
}

.header-form-search-input:focus {
  background-color: #ffffff;
  color: #000000;
  font-family: "CuprumRegular";
  font-size: 17px;
}

input[type="search"]::-webkit-input-placeholder {
  font-family: "CuprumRegular", "Arial", sans-serif;
  font-size: 17px;
  color: #ffffff;
}

.header-form-search-input:focus~.icon-search {
  fill: #ee3643;
  opacity: 1;
}

.header-form-search-input:hover~.icon-search {
  opacity: 1;
}

.link-bookmark::before, .link-bookmark:before {
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmark.svg");
  margin-left: -27px;
  transition: 0.3s;
}

.link-bookmark {
  padding-left: 20px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 13px;
  transition: 0.3s;
}

.link-cart::before, .link-cart:before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  margin-left: -32px;
  transition: 0.3s;
}

.link-cart {
  padding-right: 26px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-right: 4px;
  transition: 0.3s;
}

.cart-full {
  padding-right: 26px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-right: 0px;
  transition: 0.3s;
  background-color: #ef3341;
}

.header-link:hover::before {
  opacity: 1;
}

.link-bookmark:active::before, .link-cart:active::before, .link-bookmark:active, .link-cart:active {
  opacity: 0.5;
}

.header-phone-link::before, .header-phone-link:before {
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  margin-left: -59px;
}

/* Header icons -- end */

header .link-order {
  padding: 12px 20px 13px 20px;
  background-color: #63a63e;
  transition: 0.3s;
}

header .link-order:hover {
  background-color: #5fbb2d;
}

header .link-order:active {
  opacity: 0.8;
}

header .header-phone-link {
  display: block;
  padding-left: 74px;
  padding-right: 32px;
  padding-top: 13px;
  padding-bottom: 11px;
  margin-bottom: 5px;
  /* Типографика */
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

header p.header-description {
  width: 196px;
  /* Типографика */
  font-size: 16px;
  line-height: 23px;
  font-family: "CuprumItalic", Arial, sans-serif;
  color: #ee3643;
  margin-left: 53px;
  margin-right: 71px;
}

.header-bottom-middle {
  width: 270px;
  margin-right: 51px;
}

.header-bottom-middle p {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 13px;
  text-align: center;
}

.header-profile-controls {}

.user-profile-options {
  position: relative;
  padding-right: 67px;
  padding-left: 47px;
  padding-top: 14px;
  padding-bottom: 11px;
  margin-bottom: 5px;
  background-color: #fff;
}

.user-profile-no-auth {}

.icon-logout {
  position: absolute;
  left: 269px;
  bottom: 16px;
}

.icon-user {
  position: absolute;
  left: 13px;
  bottom: 16px;
}

.header-profile-controls-sub {
  display: flex;
}

.header-profile-controls-sub li:last-child::before {
  content: "•";
  color: #32425c;
  margin-left: -10px;
  margin-right: 10px;
}

.header-profile-controls-sub li:last-child {
  margin-left: 10px;
}

.header-profile-controls-sub li {
  margin-left: 15px;
  margin-right: 10px;
}

.header-profile-controls-sub li a:hover {
  color: #ee3643;
}

.header-profile-controls-sub li a:active {
  color: #32425c;
}

.header-profile-controls-new {
  display: flex;
  margin-bottom: 25px;
  margin-left: 18px;
}

.profile-login, .profile-register {
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 15px;
}

.profile-login {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.icon-login {
  position: absolute;
  margin-left: -34px;
}

.profile-register {
  padding-left: 25px;
}

.main-menu a {
  padding: 16px 31px 19px 31px;
  transition: 0.3s;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.8);
}

/* Main */

/* Breadcrumbs */

ul.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 940px;
  min-height: 59px;
}

ul.breadcrumbs li:first-child {
  width: 22px;
}

ul.breadcrumbs li a.breadcrumbs-link {
  font-family: "PT SansRegular", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 28px;
  margin-right: 11px;
  vertical-align: top;
}

ul.breadcrumbs li a {
  position: relative;
}

.breadcrumbs-home-icon {
  position: absolute;
  top: -12px;
}

ul.breadcrumbs li a.breadcrumbs-link::before, ul.breadcrumbs li a.breadcrumbs-link:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  margin-left: -21px;
}

ul.breadcrumbs li a.breadcrumbs-home-icon::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/icon-home.svg");
  width: 14px;
  height: 12px;
}

/* Section features */

.features {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 940px;
  margin-top: 59px;
}

.features-row {
  display: flex;
  flex-direction: row;
}

.features-column {
  display: flex;
  flex-direction: column;
}

.features h2 {
  margin: 0;
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.features-new::before, .product-new::before {
  content: "";
  position: absolute;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.features-item {
  margin-bottom: 20px;
  position: relative;
  min-width: 300px;
  height: 123px;
}

.features-item h2 {
  margin-left: 24px;
  margin-top: 21px;
  margin-bottom: 15px;
}

.features-item a {
  width: 135px;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  /* Оформление */
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 2px;
}

.features-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-materials {
  margin-right: 20px;
  /* Оформление */
  background-color: #fcba41;
}

.features-tool {
  margin-right: 20px;
  /* Оформление */
  background-color: #00bce1;
}

.features-sales {
  margin-bottom: 20px;
  /* Оформление */
  background-color: #74d58c;
}

.features-tech {
  /* Оформление */
  background-color: #cf7ec0;
}

.features-delivery {
  /* Оформление */
  background-color: #fcba41;
}

/* Features icons -- start */

.features-materials::after, .features-materials:after, .features-sales::after, .features-sales:after, .features-tool::after, .features-tool:after, .features-tech::after, .features-tech:after, .features-delivery::after, .features-delivery:after {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-materials::after, .features-materials:after {
  width: 44px;
  height: 65px;
  right: 43px;
  bottom: 27px;
  background: url("../img/icon-1.svg");
  margin-left: 100px;
}

.features-tool::after, .features-tool:after {
  width: 75px;
  height: 61px;
  right: 28px;
  bottom: 29px;
  background: url("../img/icon-2.svg");
  margin-left: 100px;
}

.features-sales::after, .features-sales:after {
  width: 59px;
  height: 72px;
  right: 45px;
  bottom: 25px;
  background: url("../img/icon-4.svg");
  margin-left: 100px;
}

.features-tech::after, .features-tech:after {
  width: 78px;
  height: 62px;
  right: 31px;
  bottom: 30px;
  background: url("../img/icon-3.svg");
  margin-left: 100px;
}

.features-delivery::after, .features-delivery:after {
  width: 78px;
  height: 63px;
  right: 31px;
  bottom: 28px;
  background: url("../img/icon-5.svg");
  margin-left: 100px;
}

/* Features icons -- end */

/* Slider */

.slider {
  position: relative;
  min-width: 620px;
  min-height: 266px;
  margin-right: 20px;
}

.slider-dots {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 36px;
  right: 295px;
}

.slider-dots li {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #ffffff;
}

.dot-active {
  position: relative;
}

.dot-active::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

/* Slider Buttons -- start */

.slider-buttons {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  width: 22px;
  height: 40px;
}

button.slider-buttons.prev {
  background-image: url("../img/icon-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 25px;
  top: 14px;
}

button.slider-buttons.next {
  background-image: url("../img/icon-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 578px;
  top: 14px;
}

/* Slider Buttons -- end */

.slider ul {
  list-style: none;
  position: absolute;
}

article.slider-item.slider-item-1, .slider p {
  margin: 0;
}

.slider .slider-item h2 {
  position: relative;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item h2 {
  padding-top: 26px;
  padding-left: 26px;
}

.slider .slider-item p {
  padding-top: 6px;
  padding-left: 26px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider .slider-item {
  position: relative;
  margin-top: 30px;
  width: 620px;
  height: 266px;
  background-color: #95806b;
  background-size: cover;
}

.slider .slider-item-1 {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
}

.slider .slider-item-2 {
  display: none;
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
}

.slider-open {
  position: absolute;
  bottom: 23px;
  left: 25px;
  border-radius: 5px;
}

/* Популярные товары и популярные производители */

.popular-products ul, .popular-company ul {
  list-style: none;
}

.popular-products h2, .popular-company h2 {
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.header-button {
  margin-right: 30px;
}

.popular-company .header-button {
  padding-left: 69px;
  padding-right: 70px;
  padding-top: 10px;
  margin-right: 24px;
}

.popular-products .header-button {
  padding-left: 55px;
  padding-right: 54px;
  margin-right: 24px;
}

.popular-products .product a {
  color: #000000;
}

.header-for-popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  background-color: #f7f2ec;
  width: 940px;
  height: 89px;
}

.popular-company .header-for-popular {
  margin-top: 21px;
}

/* Catalog - catalog.html */

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 940px;
}

.catalog h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-h-wrapper {
  display: flex;
  align-items: center;
  background-color: #f2f6f8;
  min-height: 89px;
  min-width: 940px;
  padding: 0;
  padding-left: 30px;
  margin-bottom: 20px;
}

/* Filter and Sort - catalog.html */

.product-filter {
  width: 220px;
  height: 38px;
}

.filter-h-wrapper {
  height: 38px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.product-filter h2, .product-sort h2 {
  font-family: "PTSansRegular", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-left: 19px;
}

.product-filter legend {
  font-size: 17px;
  font-family: "PTSansBold", "Arial", sans-serif;
  text-transform: uppercase;
}

.product-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 45px;
}

.product-filter .product-filter-price {
  margin-bottom: 45px;
}

.product-filter .product-filter-company {
  margin-bottom: 23px;
}

.product-filter .product-filter-supply {
  margin-bottom: 60px;
}

.product-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 23px;
}

.product-filter ul li {
  margin-bottom: 16px;
  margin-left: 11px;
}

button.product-filter-button {
  padding: 10px 39px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  text-transform: uppercase;
  font-family: "PTSansRegular", "Arial", sans-serif;
  font-size: 13px;
  cursor: pointer;
}

button.product-filter-button:hover {
  border: 1px solid #bec7cb;
}

button.product-filter-button:active {
  border: 1px solid #ef3341;
}

.product-sort {
  width: 700px;
  height: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-sort, .filter-h-wrapper {
  background-color: #f7f3ed;
}

.product-sort ul {
  list-style: none;
}

.product-sort h2 {
  margin-right: 139px;
  margin-left: 19px;
}

.product-sort-type {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.product-sort-type li {
  margin-right: 70px;
}

.product-sort-type li:last-child {
  margin-right: 0;
}

.product-sort-start {
  display: flex;
  justify-content: space-between;
}

.product-sort-start li {
  margin-right: 20px;
}

.product-sort-type a.sort-type {
  font-family: "PTSansRegular", "Arial", sans-serif;
  color: #adaba6;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.product-sort-type a.sort-type:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.product-sort-type a.sort-type:active, .product-sort-type a.sort-active {
  color: #ee3643;
  border-bottom: none;
}

.icon-up, .icon-down {
  fill: #adaba6;
  transition: fill 0.3s ease;
}

.icon-up:active, .icon-down:active {
  fill: #ee3643;
}

.icon-up:hover, .icon-down:hover {
  fill: #000000;
}

a.sort-start-active .icon-up, a.sort-start-active .icon-down {
  fill: #ee3643;
}

.products-list ul {
  list-style: none;
}

/* Оформление range */

.product-filter-price {
  width: 220px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.range {
  width: 220px;
  margin: 20px;
}

.range-title {
  margin-bottom: 14px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.range-content {
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 0 0 4px 4px;
}

.range-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
}

.range-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #00c87c;
}

.range-button {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  border: 0;
  cursor: pointer;
}

.range-button-left {
  left: 0;
}

.range-button-right {
  right: 20px;
}

.range-price {
  font-size: 0;
}

.range-input {
  width: 95px;
  padding: 9px 0 11px 7px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 4px;
}

.range-text {
  display: inline-block;
  width: 10px;
  height: 1px;
  margin: 4px 9px;
  background-color: #444444;
}

/* Оформление чекбоксов и радио-кнопок */

.catalog input[type="checkbox"], .catalog input[type="radio"] {
  display: none;
}

input[type="checkbox"]+label::before, input[type="checkbox"]+label:before, input[type="checkbox"]:checked+label::before, input[type="checkbox"]:checked+label:before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 27px;
  background-repeat: no-repeat;
  height: 23px;
  cursor: pointer;
  margin-left: -32px;
  opacity: 0.9;
}

input[type="checkbox"]+label::before, input[type="checkbox"]+label:before {
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked+label::before, input[type="checkbox"]:checked+label:before {
  background-image: url("../img/checkbox-on.svg");
}

input[type="radio"]+label::before, input[type="radio"]+label:before, input[type="radio"]:checked+label::before, input[type="radio"]:checked+label:before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: -35px;
  opacity: 0.8;
}

input[type="radio"]+label::before, input[type="radio"]+label:before {
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked+label::before, input[type="radio"]:checked+label:before {
  background-image: url("../img/radio-on.svg");
}

input[type="checkbox"]:disabled+label, input[type="radio"]:disabled+label {
  opacity: 0.3;
}

.product-filter label {
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}

.product-filter legend {
  margin: 17px 0;
}

.product-filter-supply p {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  margin-left: 10px;
  margin-bottom: 16px;
}

/* Блоки product */

.product-list {
  width: 700px;
  margin-left: 239px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
  margin-bottom: 45px;
}

.product-list-index {
  width: 940px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  height: 318px;
  margin-top: 20px;
  border: 1px solid #ebebeb;
  transition: 0.3s;
}

.product-image {
  width: 100%;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list-buttons {
  display: none;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 158px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

.product:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.product:hover .product-list-buttons {
  display: block;
}

.product-list-buttons button {
  display: block;
  margin: 0 auto;
  height: 38px;
  margin-bottom: 7px;
  position: relative;
  text-transform: uppercase;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 14px;
  border-radius: 3px;
}

.product-buy-button::before, .product-buy-button::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-cart.svg");
  width: 15px;
  height: 15px;
  z-index: 15;
  margin-left: -37px;
  opacity: 0.5;
}

.product-buy-button:hover::before {
  opacity: 1;
}

.product-buy-button:active {
  background-color: #518534;
}

.product h3 a {
  padding-top: 15px;
  display: block;
  font-family: "PTSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.product h3 {
  width: 148px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.product .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

/* Product Buttons */

.product span {
  margin: 0;
  padding: 0;
  display: block;
  width: 141px;
  height: 38px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

span.new-price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 36px;
  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-size: cover;
}

span.old-price {
  position: absolute;
  bottom: 50px;
  left: 41px;
  color: #aaaaaa;
  text-decoration: line-through;
  text-align: center;
}

/* Buy and Bookmarks Buttons */

.product-buy-button {
  font-family: "CuprumRegular", "Arial", sans-serif;
  background-color: #63a73c;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #33730e;
  transition: 0.3s;
}

.product-buy-button:hover {
  background-color: #5ebd29;
}

.product-buy-button:active {
  background-color: #508631;
}

.product-bookmarks-button {
  font-family: "CuprumRegular", "Arial", sans-serif;
  color: #32425c;
  border: 2px solid #63a73c;
  background: none;
  transition: 0.3s;
}

.product-bookmarks-button:hover {
  border: 2px solid #2f405b;
}

.product-bookmarks-button:active {
  opacity: 0.5;
}

/* Brand List */

.brand-list {
  width: 940px;
  min-height: 310px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 65px;
}

.brand-list li {
  display: flex;
  align-items: center;
  align-content: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #ebebeb;
  transition: 0.3s;
}

.brand-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.brand-list li a {
  margin: 0 auto;
  padding: 20px 0;
}

.popular-company .brand-list li:nth-child(4), .popular-company .brand-list li:nth-child(8) {
  margin-right: 0;
}

/* Product Description - Catalog.html */

.product-description-wrapper {
  width: 940px;
  min-height: 261px;
  padding: 44px 0;
}

.product-description {
  background-color: #f2f6f8;
  font-size: 13px;
}

.product-description p {
  margin: 0;
}

.product-description h2 {
  font-family: "CuprumRegular", "Arial", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

/* Pagination - catalog.html */

ul.pagination {
  list-style: none;
  display: flex;
  width: 940px;
  margin-bottom: 66px;
  margin-left: 240px;
  padding: 0;
}

ul.pagination a {
  font-family: "PTSansRegular", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 2px;
}

ul.pagination li:last-child a {
  padding: 10px 32px;
}

ul.pagination a:hover {
  border: 1px solid #bec7cb;
}

ul.pagination a:active {
  border: 1px solid #ef3341;
}

ul.pagination .actual-page a {
  color: #ffffff;
  background-color: #ef3341;
  border: none;
}

/* Services */

.services {
  background-color: #f1f5f7;
  padding-top: 43px;
  margin-bottom: 39px;
}

.services-pre-content {
  width: 940px;
  margin-bottom: 58px;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.services-delivery-tab {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-delivery-content-list-item {
  display: none;
  height: 285px;
}

#tab-delivery:checked~.services-delivery-tabs-menu label[for="tab-delivery"], #tab-guarantee:checked~.services-delivery-tabs-menu label[for="tab-guarantee"], #tab-credit:checked~.services-delivery-tabs-menu label[for="tab-credit"] {
  background-color: #ffffff;
  color: #32425c;
}

#tab-delivery:checked~.services-delivery-content-list #content-1, #tab-guarantee:checked~.services-delivery-content-list #content-2, #tab-credit:checked~.services-delivery-content-list #content-3 {
  display: block;
}

.services-delivery-tabs {
  width: 940px;
  display: flex;
}

.services-delivery-tabs-menu {
  padding: 0;
}

.services-delivery-tabs-menu:after {
  content: " ";
  position: absolute;
  background-image: url("../img/tabs-line.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 272px;
  margin-top: -222px;
  margin-left: 231px;
}

label.services-delivery-tabs-item {
  display: block;
  width: 240px;
  height: 61px;
  background-color: #2c415c;
  font-family: "CuprumBold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  transition: 0.3s;
}

label.services-delivery-tabs-item:hover {
  background-color: #253147;
}

label.active-item {
  background-color: #ffffff;
  color: #32425c;
}

label.active-item:hover {
  background-color: #ffffff;
  color: #32425c;
}

.services-delivery-tabs-menu li label {
  padding-top: 14px;
  padding-left: 22px;
}

.services .services-delivery-tabs h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services-delivery-content-list-item {
  min-height: 272px;
}

.services-delivery-content-list-item p {
  width: 58%;
  margin-bottom: 31px;
}

.services-delivery-tabs-menu {
  margin-right: 80px;
}

.services-guarantee-content, .services-delivery-content, .services-credit-content {
  position: relative;
  z-index: 1;
}

.services-guarantee-content::after, .services-guarantee-content:after, .services-delivery-content::after, .services-delivery-content:after, .services-credit-content::after, .services-credit-content:after {
  content: " ";
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 105px;
  z-index: 0;
}

.services-delivery-content::after, .services-delivery-content:after {
  background-image: url("../img/delivery-bg.png");
  width: 468px;
  height: 261px;
  top: 23px;
  left: 46px;
}

.services-credit-content::after, .services-credit-content:after {
  background-image: url("../img/credit-bg.png");
  width: 465px;
  height: 285px;
  top: 0;
  left: 79px;
}

.services-guarantee-content::after, .services-guarantee-content:after {
  background-image: url("../img/guarantee-bg.png");
  width: 465px;
  height: 285px;
  top: 0;
  left: 79px;
}

a.credit-button {
  background-color: #ee3643;
  font-size: 14px;
  text-transform: uppercase;
}

/* About Company Block */

.about-company-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 86px;
}

.about-company h3 {
  margin-bottom: 27px;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.about-description {
  width: 540px;
}

.about-description ul {
  margin-bottom: 35px;
}

.about-contacts {
  width: 300px;
}

.about-contacts p {
  margin: 0;
  margin-bottom: 35px;
}

.about-description h3+p {
  margin: 0;
  margin-bottom: 22px;
}

.about-contacts figure {
  margin: 0;
  margin-bottom: 30px;
  cursor: pointer;
}

a.about-button {
  padding-left: 42px;
  padding-right: 40px;
}

a.write-us-link {
  padding-left: 63px;
  padding-right: 60px;
}

.about-description ul {
  list-style: none;
  font-family: "CuprumRegular", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 35px;
}

.about-description ul li {
  position: relative;
}

.about-description ul li::before {
  position: absolute;
  top: 17px;
  margin-left: -40px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ef3341;
}

.map-popup-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Footer */

footer {
  background-color: #2c415c;
  font-family: "CuprumRegular", "Arial", sans-serif;
  color: #ffffff;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 0;
  padding: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 26px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  width: 924px;
  margin-bottom: 50px;
}

.footer-nav ul, .footer-middle ul {
  display: flex;
  justify-content: space-between;
}

.footer-nav ul {
  align-items: flex-end;
  margin-top: 37px;
}

.footer-nav ul li, .footer-middle ul li {
  margin-right: 60px;
}

.footer-nav ul li:last-child, .footer-middle ul li:last-child {
  margin-right: 0;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 33px;
}

.footer-bottom-wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.footer-feedback-and-design {
  display: flex;
  justify-content: space-between;
}

.footer-feedback-and-design p:first-child {
  margin-right: 50px;
}

.footer-feedback-and-design p:last-child {
  margin-right: 20px;
}

p.footer-copyright {
  margin-right: 66px;
}

footer .footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  background-image: url("../img/logo-footer-text.png");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #b72530;
  transition: 0.3s;
}

footer .footer-logo:hover {
  background-color: #cb2834;
  border-bottom: 3px solid #9b1c26;
}

footer .footer-logo:active {
  background-color: #bc222f;
  border-bottom: 3px solid #8f1821;
}

.footer-middle, .footer-top, .footer-middle a, .footer-top a {
  font-size: 18px;
}

.footer-middle a:hover, .footer-top a:hover, .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-middle a:active, .footer-top a:active {
  opacity: 0.8;
}

.footer-bottom a:active {
  color: #ee3643;
}

.footer-middle ul a, .footer-feedback-and-design a {
  color: #ffd180;
}

.footer-middle p, .footer-middle ul {
  margin: 0;
  padding: 0;
}

.footer-social-icons li {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-social-icons li:hover {
  background-color: #ef3341;
}

a.vk-icon::before, a.vk-icon:before, a.fb-icon::before, a.fb-icon:before, a.instagram-icon::before, a.instagram-icon:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

li.vk-icon {
  background-image: url("../img/icon-vk.svg");
  background-size: 26px 15px;
}

li.fb-icon {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
}

li.instagram-icon {
  background-image: url("../img/icon-insta.svg");
  background-size: 21px 21px;
}

footer .footer-bottom {
  background-color: #253448;
  font-size: 16px;
}

/*  Popups */

button.close-popup-button {
  right: 9px;
  top: 9px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  background-image: url("../img/form-2.svg");
  border: none;
}

.product-list-cart-popup {
  font-family: "CuprumRegular", "Arial", sans-serif;
  font-size: 30px;
}

.popup-buttons {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list-cart-popup p {
  position: relative;
  padding-left: 81px;
}

.product-list-cart-popup p::before, .product-list-cart-popup p:before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/form-1.svg");
  width: 66px;
  height: 66px;
  margin-left: -222px;
}

a.continue-popup-button {
  height: 38px;
  padding-top: 12px;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a.popup-buy-button {
  height: 38px;
  width: 220px;
  padding-top: 12px;
  text-align: center;
}

/* Write Us */

.about-write-us-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -310px;
  width: 620px;
  height: 430px;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  border-top: 7px solid #ef3341;
  z-index: 99;
  animation-name: appearance, twitch2;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-out, ease-out;
}

form.write-us-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-inputs-wrapper p {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.form-inputs-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 460px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

.form-inputs-wrapper textarea {
  width: 460px;
  height: 114px;
}

.close-write-us {
  position: absolute;
}

.write-us-form label {
  display: block;
  font-size: 17px;
  font-family: "CuprumRegular";
  margin-bottom: 10px;
}

.write-us-form input {
  width: 220px;
  height: 38px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.write-us-form textarea {
  padding-left: 16px;
  padding-top: 13px;
}

.write-us-form input, .write-us-form textarea {
  font-family: "PTSansRegular", "Arial", sans-serif;
  font-size: 13px;
  color: #999999;
  border: 2px solid #dee3e4;
}

button.write-us-submit {
  font-family: "CuprumRegular", "Arial", sans-serif;
  width: 460px;
  height: 38px;
  padding: 14px;
}

/* Cart popup */

.product-list-cart-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  height: 282px;
  margin-top: -141px;
  margin-left: -310px;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  border-top: 7px solid #ef3341;
  z-index: 99;
  animation-name: appearance2, twitch2;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-out, ease-out;
}

.close-cart {
  position: absolute;
  right: 9px;
}

.cart-popup-message {
  display: flex;
  width: 620px;
  margin-top: 75px;
  justify-content: center;
  align-items: center;
}

.buttons-cart {
  justify-content: space-around;
  padding: 0 80px;
}

.continue-popup-button {
  padding-right: 48px;
  padding-left: 44px;
  padding-top: 12px;
  padding-bottom: 14px;
  border-radius: 3px;
}

/* Big MAP */

.about-map-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -470px;
  width: 940px;
  height: 446px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  animation-name: appearance, twitch;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-out, ease-out;
  z-index: 99;
}

button.close-map {
  position: absolute;
  right: 9px;
  background-color: transparent;
}

/* show  popups */

.modal-show {
  display: block;
}

@keyframes appearance {
  from {
    top: -1500px;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 50%;
    margin-top: -223px;
  }
}

@keyframes appearance2 {
  from {
    top: -1500px;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 50%;
    margin-top: -141px;
  }
}


@keyframes twitch {
  10% {
    margin-left: -400px;
  }
  50% {
    margin-left: -540px;
  }
  100% {
    margin-left: -470px;
  }
}

@keyframes twitch2 {
  10% {
    margin-left: -260px;
  }
  50% {
    margin-left: -380px;
  }
  100% {
    margin-left: -310px;
  }
}
