html, body {
  /* Блочная модель */
  margin: 0;
  /* Типографика */
  font-size: 14px;
  line-height: 24px;
  font-family: "PTSansRegular", Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #000000;
  /* Оформление */
  background-color: #ffffff;
}

h1, h2, h3, h4, h5 {
  /* Типографика */
  font-family: "CuprumRegular";
}

a {
  /* Типографика */
  font-size: 17px;
  line-height: 17px;
  font-family: "CuprumRegular";
  color: #ffffff;
  text-decoration: none;
}

/* Кнопка, которая повторяется часто */

button.learn-more-button, a.learn-more-button {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fc2040;
}

/* Скрываем элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

header {
  /* Оформление */
  background-color: #f2f7fa;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .header-top {
  /* Оформление */
  background-color: #253448;
}

/* Header icons -- start */


.header-form-search::before, .header-form-search:before,
.link-bookmark::before, .link-bookmark:before,
.link-cart::before, .link-cart:before,
.header-phone-link::before, .header-phone-link:before,
.profile-login::before, .profile-login::before {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-form-search::before, .header-form-search:before {
  width: 17px;
  height: 17px;
  background: url("../img/icon-search.svg");
  margin-left: -20px;
}

.header-form-search {
  padding-left: 20px;
}

.link-bookmark::before, .link-bookmark:before {
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmark.svg");
  margin-left: -20px;
}

.link-bookmark {
  padding-left: 20px;
}

.link-cart::before, .link-cart:before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  margin-left: -20px;
}

.link-cart {
  padding-left: 20px;
}

.header-phone-link::before, .header-phone-link:before {
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  margin-left: -20px;
}

.profile-login::before, .profile-login:before {
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  margin-left: -20px;
}

.profile-login {
  padding-left: 20px;
}

/* Header icons -- end */

header .header-phone-link {
  /* Типографика */
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;

  padding-left: 20px;
}

header p.header-description {
  /* Типографика */
  font-size: 16px;
  line-height: 23px;
  font-family: "CuprumItalic", Arial, sans-serif;
  color: #ee3643;
}

header .header-profile-controls a {
  /* Типографика */
  font-size: 21px;
  color: #000000;
}

nav .main-menu {
  /* Оформление */
  background-color: #253448;
}

/* Main */

/* Section features */

.features h2 {
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.features-item a {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  /* Оформление */
  background-color: rgba(0, 0, 0, 0.1);
}

.features-materials {
  /* Оформление */
  background-color: #fcba41;
}

.features-tool {
  /* Оформление */
  background-color: #00bce1;
}

.features-sales {
  /* Оформление */
  background-color: #74d58c;
}

.features-tech {
  /* Оформление */
  background-color: #cf7ec0;
}

.features-delivery {
  /* Оформление */
  background-color: #fcba41;
}

/* Features icons -- start */

.features-materials::after, .features-materials:after,
.features-sales::after, .features-sales:after,
.features-tools::after, .features-tools:after,
.features-tech::after, .features-tech:after,
.features-delivery::after, .features-delivery:after {
  content: " ";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-materials::after, .features-materials:after {
  width: 44px;
  height: 65px;
  background: url("../img/icon-1.svg");
  margin-left: 100px;
}

.features-tools::after, .features-tools:after {
  width: 75px;
  height: 61px;
  background: url("../img/icon-2.svg");
  margin-left: 100px;
}

.features-sales::after, .features-sales:after {
  width: 59px;
  height: 72px;
  background: url("../img/icon-4.svg");
  margin-left: 100px;
}

.features-tech::after, .features-tech:after {
  width: 78px;
  height: 62px;
  background: url("../img/icon-3.svg");
  margin-left: 100px;
}

.features-delivery::after, .features-delivery:after {
  width: 78px;
  height: 63px;
  background: url("../img/icon-5.svg");
  margin-left: 100px;
}

/* Features icons -- end */

/* Slider */

/* Slider Buttons -- start */

.slider-buttons {
  position: absolute;
  background: none;
  border: none;
  padding: 0;

  width: 22px;
  height: 40px;
}

button.slider-buttons.prev {
  background-image: url("../img/icon-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
}

button.slider-buttons.next {
  background-image: url("../img/icon-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 600px;
}

/* Slider Buttons -- end */

.slider ul {
  list-style: none;
}

.slider .slider-item h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider .slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider .slider-item {
  width: 620px;
  height: 266px;
  background-color: #95806b;
  background-size: cover;
}

.slider .slider-item-1 {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
}

.slider .slider-item-2 {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
}

/* Популярные товары и популярные производители */

.popular-products ul, .popular-company ul {
  list-style: none;
}

.popular-products h2, .popular-company h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.popular-products .product a {
  color: #000000;
}

.popular-products div, .popular-company div {
  background-color: #f7f2ec;
}

/* Блоки product */

.product-list-buttons button {
  text-transform: uppercase;
}

/* Product Buttons */
.product span {
  display: block;
  width: 141px;
  height: 38px;

  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
span.new-price {
  color: #ffffff;

  background-image: url("../img/red-button.svg");
  background-size: cover;
}

span.old-price {
  color: #aaaaaa;
  text-decoration: line-through;
}

/* Services */

.services {
  background-color: #f1f5f7;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
}

.services-delivery-tabs-menu {

}

.services-delivery-tabs-menu:after {
  content: " ";
  position: absolute;
  top: 0;
  background-image: url("../img/tabs-line.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 272px;
}

label.services-delivery-tabs-item {
  display: block;
  width: 260px;
  height: 61px;
  background-color: #2c415c;

  font-family: "CuprumBold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.services .services-delivery-tabs h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
}

.services ul {
  list-style: none;
}

.services-guarantee-content {
  background-image: url("../img/guarantee.jpg";)
}
/* Правила */

/* Шрифт Cuprum */

@font-face {
  font-family: "CuprumRegular";
  src: url("../fonts/CuprumRegular.eot");
  src: url("../fonts/CuprumRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumRegular.woff") format("woff"), url("../fonts/CuprumRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumBold";
  src: url("../fonts/CuprumBold.eot");
  src: url("../fonts/CuprumBold.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumBold.woff") format("woff"), url("../fonts/CuprumBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumItalic";
  src: url("../fonts/CuprumItalic.eot");
  src: url("../fonts/CuprumItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumItalic.woff") format("woff"), url("../fonts/CuprumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CuprumBoldItalic";
  src: url("../fonts/CuprumBoldItalic.eot");
  src: url("../fonts/CuprumBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/CuprumBoldItalic.woff") format("woff"), url("../fonts/CuprumBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Шрифт PT SANS */

@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold.eot");
  src: url("../fonts/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
